# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PDMF.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\education\mgua\diploma stuff\system\PDMF\.idea\.idea.PDMF\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
