# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.PDMF.Functions.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\education\mgua\diploma stuff\system\PDMF.Functions\PDMF.Functions\.idea\.idea.PDMF.Functions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
