# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.PDMF.Functions.Forecasting.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\education\mgua\diploma\system\PDMF.Functions\PDMF.Functions.Forecasting\.idea\.idea.PDMF.Functions.Forecasting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
