# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PDMF.Functions.Modeling.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\education\mgua\diploma stuff\system\PDMF.Functions\PDMF.Functions.Modeling\.idea\.idea.PDMF.Functions.Modeling\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
